<%- include('../layouts/Header.ejs') -%>
<div class="container mt-5 pt-3 pb-3"> <!-- Adjusted padding for the container -->

   

        <div class="card-header  text-white" style="color: rgb(71, 68, 86);">
            <!-- Added Bootstrap styling for the header -->

            <h2 class="text-center" id="changePasswordHeading">Change Password</h2>


        </div>

        <div class="card-body">

            <form action="/changePassword" method="post" onsubmit="return validate()">


                <div class="form-group">
                    <br><br>
                    <label for="newPassword">New Password:</label>
                    <div class="input-group">
                        <input type="password" class="form-control" name="newPassword" id="newPasswordInput"
                            required>
                        <div class="input-group-append">
                            <span class="input-group-text"
                                onclick="togglePasswordVisibility('newPasswordInput')">
                                <i class="fa fa-eye" id="eyeIcon"></i>
                            </span>
                        </div>
                    </div>
              
                <p id="passwordMatchError" style="color: red;"></p>

                <div class="form-group">

                    <label for="confirmPassword">Confirm New Password:</label>

                    <input type="password" class="form-control" name="confirmPassword" required>
                    <p id="passwordMatchError" style="color: red;"></p>

                </div>

                <button type="submit" class=" btn-block mt-3">Change Password</button>

            </form>

        </div>

    </div>

</div>
<script>
    function validate() {
        var newPasswordInput = document.getElementsByName('newPassword')[0];
        var confirmPasswordInput = document.getElementsByName('confirmPassword')[0];
        var errorParagraph = document.getElementById('passwordMatchError');

        // New password validation for symbol, uppercase letter, or number
        var hasSymbol = /[!@#$%^&*(),.?":{}|<>]/.test(newPasswordInput.value);
        var hasUppercase = /[A-Z]/.test(newPasswordInput.value);
        var hasNumber = /\d/.test(newPasswordInput.value);

        if (!hasSymbol || !hasUppercase || !hasNumber) {
            errorParagraph.innerText = 'Password must contain at least one symbol, one uppercase letter, or one number';

            // Clear the error message after 3 seconds (adjust the timeout duration as needed)
            setTimeout(function () {
                errorParagraph.innerText = '';
            }, 3000);

            return false;
        }

        // Check password match
        if (newPasswordInput.value !== confirmPasswordInput.value) {
            errorParagraph.innerText = 'Passwords do not match';

            // Clear the error message after 3 seconds (adjust the timeout duration as needed)
            setTimeout(function () {
                errorParagraph.innerText = '';
            }, 3000);

            return false;
        }

        // Clear the error message if passwords match and meet the complexity requirements
        errorParagraph.innerText = '';

        return true;
    }
</script>

<script>
    function togglePasswordVisibility(inputId) {
        var passwordInput = document.getElementById(inputId);
        var eyeIcon = document.getElementById('eyeIcon');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.classList.remove('fa-eye');
            eyeIcon.classList.add('fa-eye-slash');
        } else {
            passwordInput.type = 'password';
            eyeIcon.classList.remove('fa-eye-slash');
            eyeIcon.classList.add('fa-eye');
        }
    }
</script>

<%- include('../layouts/footer.ejs') -%>