<%- include('../layouts/Header.ejs') -%>

<div class="container mt-10 pt-35 pb-35 d-flex justify-content-center align-items-center">
   
        <div class="card-header text-center" style="background-color: antiquewhite;">
            <div id="verify-email-container">
                <h2>VERIFY THE EMAIL</h2>
            </div>
            
        </div>
        <div class="card-body text-center">
            <p></p>
            <form action="/forgetPasswordEmail" method="post" onsubmit="return validateEmail()">
                <div class="form-group">
                    <br><br><br><br>
                    <br><br>
                    <label for="otp">Please enter your email:</label>
                    <input type="text" class="form-control" name="email" id="emailInput" required>
                    <p id="emailError" style="color: red;"></p>
                    <% if (typeof message !=='undefined' ) { %>
                    <p class="error-message" style="color: red;">
                        <%= message %>
                    </p>
                    <% } %>
                </div>
                <button type="submit" class="btn btn-success btn-block mt-3">Send OTP</button>
            </form>
        </div>
    </div>
</div>



<%- include('../layouts/footer.ejs') -%>





        <script>
            function validateEmail() {
                var emailInput = document.getElementById('emailInput');
                var emailError = document.getElementById('emailError');
                var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

                if (!emailInput.value.trim()) {
                    showError('Please enter your email address');
                    return false;
                }

                if (!emailRegex.test(emailInput.value)) {
                    showError('Please enter a valid email address');
                    return false;
                }

                // Clear the error message if there are no issues
                emailError.innerText = '';

                return true;
            }

            function showError(message) {
                var emailError = document.getElementById('emailError');
                emailError.innerText = message;

                // Clear the error message after 3 seconds (adjust the timeout duration as needed)
                setTimeout(function () {
                    emailError.innerText = '';
                }, 3000);
            }
        </script>
        <script>
            sessionStorage.removeItem("counter2");
            sessionStorage.removeItem("counter3");
        </script>
